<div class="app-container">
  <app-test-material></app-test-material>

  <div class="custom-html">
    <h2>Base</h2>

    <div class="custom-color primary">Primary</div>
    <div class="custom-color accent">Accent</div>
    <div class="custom-color warn">Warn</div>

    <h2>Lighter</h2>

    <div class="custom-color primary lighter">Primary</div>
    <div class="custom-color accent lighter">Accent</div>
    <div class="custom-color warn lighter">Warn</div>

    <h2>Darker</h2>

    <div class="custom-color primary darker">Primary</div>
    <div class="custom-color accent darker">Accent</div>
    <div class="custom-color warn darker">Warn</div>
  </div>
</div>
