/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use "@angular/material" as mat;
@use './app/test-material/test-material-component-theme' as test-material-component;

@include mat.core();

$my-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$my-accent: mat.define-palette(mat.$cyan-palette, 500, 100, 900);
$my-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);
@include test-material-component.theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  --primary-color: #{mat.get-color-from-palette($my-primary, 500)};
  --primary-lighter-color: #{mat.get-color-from-palette($my-primary, 100)};
  --primary-darker-color: #{mat.get-color-from-palette($my-primary, 900)};
  --text-primary-color: #{mat.get-color-from-palette($my-primary, '500-contrast')};
  --text-primary-lighter-color: #{mat.get-color-from-palette($my-primary, '100-contrast')};
  --text-primary-darker-color: #{mat.get-color-from-palette($my-primary, '900-contrast')};

  --accent-color: #{mat.get-color-from-palette($my-accent, 500)};
  --accent-lighter-color: #{mat.get-color-from-palette($my-accent, 100)};
  --accent-darker-color: #{mat.get-color-from-palette($my-accent, 900)};
  --text-accent-color: #{mat.get-color-from-palette($my-accent, '500-contrast')};
  --text-accent-lighter-color: #{mat.get-color-from-palette($my-accent, '100-contrast')};
  --text-accent-darker-color: #{mat.get-color-from-palette($my-accent, '900-contrast')};

  --warn-color: #{mat.get-color-from-palette($my-warn, 500)};
  --warn-lighter-color: #{mat.get-color-from-palette($my-warn, 100)};
  --warn-darker-color: #{mat.get-color-from-palette($my-warn, 900)};
  --text-warn-color: #{mat.get-color-from-palette($my-warn, '500-contrast')};
  --text-warn-lighter-color: #{mat.get-color-from-palette($my-warn, '100-contrast')};
  --text-warn-darker-color: #{mat.get-color-from-palette($my-warn, '900-contrast')};
}

.mat-typography h2 {
  margin-top: 20px;
}
